body {
  background-color: #0c9ef9;
  color: white;
  font-weight: bold;
  font-size: 50px;
}

table {
  margin-left:auto; 
  margin-right:auto;
}

td {
  border: 1px solid black;
  padding: 40px;
  padding-left: 70px;
  padding-right: 70px;
}

h1 {
  text-align: center;
  font-size: 70px;
  padding: 0px;
  margin: 50px;
}

p {
  text-align: center;
  /* display: none; */
  white-space: nowrap;
}